force-app/main/default/flows/Customer_Satisfaction_Rating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Store CSR value</description>
        <name>Store_CSR_value</name>
        <label>Store CSR value</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSRNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_case_CSR.Customer_Satisfaction_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_case_CSR</targetReference>
        </connector>
    </assignments>
    <description>Customer Satisfaction Rating updated on account from case</description>
    <environments>Default</environments>
    <formulas>
        <name>AverageCRSonAccount</name>
        <dataType>Number</dataType>
        <expression>{!CSRNumber}/{!CaseCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Customer Satisfaction Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Satisfaction Rating</label>
    <loops>
        <name>Loop_over_case_CSR</name>
        <label>Loop over case CSR</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_CSR_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CSR_on_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Cases on the account of the case.</description>
        <name>Get_All_Cases</name>
        <label>Get All Cases</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_case_CSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CSR_on_account</name>
        <label>Update CSR on account</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSR__c</field>
            <value>
                <elementReference>AverageCRSonAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CSRNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>CSR value</description>
        <name>CSRValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
