force-app/main/default/flows/Customer_Satisfaction_Rating_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Deduct CSR</description>
        <name>Deduct_CSR</name>
        <label>Deduct CSR</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CSRNumberToDeduct</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Customer_Satisfaction_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CSR_on_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_CSR_Value</name>
        <label>Store CSR Value</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSRNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_case_CSR.Customer_Satisfaction_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_case_CSR</targetReference>
        </connector>
    </assignments>
    <description>Customer Satisfaction Rating Deleted</description>
    <environments>Default</environments>
    <formulas>
        <name>AverageCSRCount</name>
        <dataType>Number</dataType>
        <expression>{!CSRNumber}/{!CaseCount}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <description>AverageCSRonAccountOnDeletion</description>
        <name>AverageCSRonAccountOnDeletion</name>
        <dataType>Number</dataType>
        <expression>{!CSRNumber}/{!CaseCount}</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Customer Satisfaction Rating Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Satisfaction Rating Deleted</label>
    <loops>
        <name>Loop_over_case_CSR</name>
        <label>Loop over case CSR</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_All_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_CSR_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deduct_CSR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cases</name>
        <label>Get All Cases</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_case_CSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update CSR on account</description>
        <name>Update_CSR_on_account</name>
        <label>Update CSR on account</label>
        <locationX>176</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSR__c</field>
            <value>
                <elementReference>AverageCSRonAccountOnDeletion</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>CaseCount</description>
        <name>CaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>CSR Value</description>
        <name>CSRNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>CSRNumberToDeduct</description>
        <name>CSRNumberToDeduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
